<%= form_for([@restaurant, @beer_review]) do |f| %>
  <% if @beer_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer_review.errors.count, "error") %> prohibited this beer_review from being saved:</h2>

      <ul>
      <% @beer_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="star-rating"></div>
  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_area :comments, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $('.star-rating').raty({path: "https://s3.amazonaws.com/beermeduncan/rating/",
  scoreName: 'beer_review[rating]' });
</script>