<div class="row">
	<div class="col-md-3">
		<%= image_tag @restaurant.image_url %>

		<h3>
		  <strong><%= @restaurant.name %></strong>
		</h3>

		<div class="star-rating" data-score= <%= @avg_rating %> ></div>
		<p style="font-size: 8pt"><%= "#{@beer_reviews.length} Beer Reviews" %></p>

		<p>
		  <strong>Address:</strong>
		  <%= @restaurant.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @restaurant.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= link_to @restaurant.website, @restaurant.website, class: "btn btn-link", target: "_blank" %>
		</p>
		<% if (user_signed_in?) && (current_user.admin?) %>
		    <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %>
		    <%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: :delete %>
			<br />
		<% end %>
		<%= link_to 'New Review', new_restaurant_beer_review_path(@restaurant), class: "btn btn-primary" %>
		<br />
		<br />
		<iframe 
			width="250" 
			height="250" 
			frameborder="0" 
			style="border:0" 
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyALx2ueWjq_cPKIokhTzJiML0QhqosVuD8&q=<%= @restaurant.address.parameterize %>" 
			allowfullscreen>
		</iframe>

	</div>

	<div class="col-md-9">
		<% if @beer_reviews.blank? %>
			<h4>No Beer Reviews for this restaurant.  Be the first to let us know about the best beers they have!</h4>
		<% else %>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-3"></th>
						<th class="col-md-9"></th>
					</tr>
				</thead>
				<tbody>
					<% @beer_reviews.each do |beerreview| %> 
						<tr>
							<td>
								<h4>
									<% if beerreview.user.nil? %>
										<%= "#{beerreview.user_id}" %>
									<% else %>
										<%= "#{beerreview.user.first_name.present? ? beerreview.user.first_name.capitalize : '<missing>'}" %>
										<%= "#{beerreview.user.last_name.present? ? beerreview.user.last_name.capitalize[0] : '<missing>'}" %>
									<% end %>
								</h4>
								<p> <%= beerreview.created_at.strftime("%-m/%-d/%y %l:%M %P") %>
								</p>
								<div style="font-size: 8pt">
									<% if user_signed_in? %>
									  <% if (beerreview.user == current_user) || (current_user.admin?) %>
									    <%= link_to "Edit", edit_restaurant_beer_review_path(@restaurant, beerreview) %>
									    <%= link_to "Delete", restaurant_beer_review_path(@restaurant, beerreview), method: :delete %>
									  <% end %>
									<% end %>
								</div>
							</td>
							<td>
								<div class="star-rating" data-score= <%= beerreview.rating %> ></div>
								<p><%= h(beerreview.comments).gsub(/\n/, '<br />').html_safe %></p>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>

<script>
	$('.star-rating').raty({path: "https://s3.amazonaws.com/beermeduncan/rating/",
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>